@font-face {
    font-family: "Agreloy";
    src: url("../polices/Agreloy.otf");
}
@font-face {
    font-family: "TalkComic";
    src: url("../polices/Talk Comic.otf");
}

body, html{
  height: 100%;
  margin: auto;
}

li{
    list-style: none;
    width: min-content;
    position: relative;
}

h1{
  text-align: center
}



li:hover h2{
  opacity: 1;
}
li:hover img{
  filter: brightness(0.25);
}
li h2 {
  opacity: 0;
  position: absolute;
  z-index: 100;
  color: lavender;
  bottom: 0;
}


.best_movie h1{
  font-family: "Agreloy";
}

.stick{
  position: sticky;
  top: -1px;
  bottom: 10%;
}

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  z-index: 2;
}
.categories {
  display: flex;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  width: -webkit-fill-available;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #707070;
  z-index: 1;
  margin-top: 1%;
}

.dropdown:hover .dropdown-content {
  display: inline-flex;
  width: auto;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}

.dropdown-content div{
  border: 1px solid;
}

.menu{
  background-image:linear-gradient(180deg, #00000000, rgb(255 255 255)), linear-gradient(90deg, #f50000, rgb(0 0 0));
}



.menu img{
  width : 15%;
}

.best_movie{
  border: 1px solid;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.bm_img{
  width : 10%;
}
.bck_img {
  position: relative;
  background-position: center;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal{
  overflow: auto;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

}

.modal_content{
  background-image: linear-gradient(180deg, #00000000, rgb(255 255 255)), linear-gradient(90deg, #f50000, rgb(0 0 0));
      background-size: cover;
      display: grid;
      overflow: auto;
      background-color: rgb(255,255,255);
      border: 3px solid;
      margin: 10% 10%;

}

.modal_content h1{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal_content p{
  display: flex;
  margin-right: 1%;
  margin-top: 0;
  margin-bottom: 0;
  align-items: baseline;
}

.btnclose{
  color: #aaa;
    background-color: rgb(255, 0, 0);
    float: right;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right:10%;
}

.carrousel{
  overflow: hidden;
      width: 50%;
      display: flex;
      flex-direction: row;
      padding: 0;
      transform: translate(50%, 0%);
      user-select: none;
      align-content: center;
      justify-content: space-between;
}

.carrousel .film{
  transition: all 300ms ease-in-out;
  z-index: 1;
}

section .btns{
  position: absolute;
  width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
}

.navbutton{
  position: relative;
  padding: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 76px;
}
.navbutton:nth-child(1){
  transform: translate(100%,-140%);
}
.navbutton:nth-child(2){
  transform: translate(-100%,-140%);
}
.navbutton:hover{
  border-radius: 10%;
  background-color: rgba(55, 0, 0, 0.5);
}
